[submodule "vagrant-dev-env"]
	path = vagrant-dev-env
	url = https://github.com/colinbut/vagrant-dev-env
[submodule "vagrant-elk"]
	path = vagrant-elk
	url = https://github.com/colinbut/vagrant-elk
[submodule "vagrant-ci-jenkins"]
	path = vagrant-ci-jenkins
	url = https://github.com/colinbut/vagrant-ci-jenkins
[submodule "vagrant-project-environments"]
	path = vagrant-project-environments
	url = https://github.com/colinbut/vagrant-project-environments
[submodule "vagrant-isolated-dev-environment"]
	path = vagrant-isolated-dev-environment
	url = https://github.com/colinbut/vagrant-isolated-dev-environment
[submodule "vagrant-local-dev-env"]
	path = vagrant-local-dev-env
	url = https://github.com/colinbut/vagrant-local-dev-env
[submodule "vagrant-getting-started"]
	path = vagrant-getting-started
	url = https://github.com/colinbut/vagrant-getting-started
